.app{
  text-align: center;
  font-size: 25px;
  margin-top: 10%;
}

.hours,.minutes,.days,.seconds{
  display: inline;
  margin: auto;
}

#textBox{
  padding: 1px;margin: 6px;
  text-align: center;
  border-color: blue;
}
